<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🐶</key>
	<string>大吉だワン！今日はもう🐶のことしか考えれない一日になります。</string>
	<key>😼</key>
	<string>今日はちょっとドヤ顔したくなる一日です。😼(ドヤっ)</string>
	<key>🐵</key>
	<string>嫌なことがあってもこの🐵のようにウキっとなるでしょう！今日は定時で去りましょう</string>
	<key>🐔</key>
	<string>今日のランチは取り敢えず🐔料理がオススメです！特に親子丼！！</string>
	<key>🐗</key>
	<string>今日は🐗のように突進する一日になるでしょう！仕事を早く終わらせると吉！！</string>
	<key>🐍</key>
	<string>ニョロニョロっとした気分ですが🐍が幸運をもたらすかもしれません。諦めずに挑戦してみましょう！！</string>
	<key>🐮</key>
	<string>🐮なだけに牛乳を飲みましょう！１リットル以上飲むと運気UP！</string>
	<key>🐯</key>
	<string>「大阪のおばちゃんの服　🐯」で画像検索してみましょう！キットいいことがあるはずです！</string>
	<key>🐲</key>
	<string>キター！🐲って！！ボールを７つ集めた時にしか本当はでませんが今回は特別です！！</string>
	<key>🐙</key>
	<string>ドイツでは🐙が全て占うくらいの肝心な時に頼りにされる存在です！誰かに頼られたら親身になって考えてあげましょう！</string>
	<key>🐨</key>
	<string>癒し系動物でも上位ランクの🐨！今日は癒やされたり、癒やしたりしてみるといいでしょう！</string>
	<key>🐢</key>
	<string>今日は🐢みたいに何をやっても進まない一日・・・健康的に過ごせば長生きできるでしょう！</string>
	<key>🐬</key>
	<string>誰からも愛される存在🐬！今日は愛し愛される一日に！！</string>
	<key>🐭</key>
	<string>結構渋谷のセンター街に出没する🐭。ドブネズミみたいに美しくなりたい一日になるでしょう！</string>
	<key>🐼</key>
	<string>きたー！レアキャラ🐼！！今日はパチンコか宝くじを買ってもいいかも？</string>
	<key>🐳</key>
	<string>地球上で最大級の🐳！広い視点で物事を考えてみると吉！！</string>
	<key>🐑</key>
	<string>どう足掻いても家畜の運命🐑。あなたも社畜にならないように日々努力しましょう！</string>
	<key>🐘</key>
	<string>とても感情豊かな🐘！今日は周りの人にやさしくしてあげると吉！！</string>
	<key>🐴</key>
	<string>足の早い🐴！競馬場に足を運ぶといいことあるかもしれませんね！</string>
	<key>🐷</key>
	<string>実はキレイ好きな🐷！いつもよりも清潔感を持って一日を過ごすと異性からアプローチが！？</string>
	<key>🐻</key>
	<string>賢くして犬よりも嗅覚の鋭い🐻！集中力が高まる一日に。ハチミツを食べるといいでしょう！</string>
	<key>🐹</key>
	<string>回し車で一生グルグルしている🐹！今日はジムでいい汗かいてみては？ひまわりの種を食べると吉！！</string>
</dict>
</plist>
